* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;    
}

#line {
    border: solid 2px #333;
    
}

.logo img {
    width: 80px;
    border-radius: 50%;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 2.5rem;
    background: #333;
}

.navbar-items ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}
.navbar-items ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1.30rem;
}

.navbar-items ul li {
    display: flex;
    align-items: center;    
}

.navbar-items ul a:hover{
    border-bottom: solid 2px #16B675;    
}

#btn-navbar {    
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #16B675;
    font-size: 1.3rem; 
    cursor: pointer;
}

#btn-navbar:hover {
    box-shadow: 0 0 1.5em #16B675;
}
main {
    position: relative;
}
.banner-main img {
    position: relative;
    width: 100vw;
    height: 500px;
}
.banner-main h1, .banner-main p {
    display: flex;
    justify-content: center;
    line-height: 500px;
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
}

.banner-main h1 {    
    font-size: 3rem;
}
.banner-main p {
    font-size: 2rem;
    margin: 50px 0;
} 

.container-specialities {
    padding: 3.5em 2em;    
}

.container-specialities ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 15px 40px;  
    text-align: center; 
}

.fas {
	font-size: 60px;
	margin-bottom: 15px;
}

.fa-shield-alt {
	color: #2CC76A;
}

.fa-rocket {
	color: #EF3F29
}

.fa-comments {
	color: #EF8F29;
}

.container-specialities ul li h3 {
	margin-bottom: 25px;
	color: #333;
}

.container-specialities ul li p {
	line-height: 24px;
	color: #70747A;
}

.pricing-tittle h1{
    display: flex;    
    justify-content: center;
    margin-bottom: 10px;
    font-size: 2.5rem;
}
.pricing-tittle p{
    display: flex;    
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.30rem;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.plan {
	flex: 1 1 200px;
	max-width: 275px;
	margin-left: 20px;
	margin-right: 20px;
}

.plan ul {
	padding: 0;
}

.plan li {
	list-style: none;
	height: 50px;
	line-height: 30px;
	background-color: #e8e9ea;
	color: #333;
    flex-wrap: wrap;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #2CC76A;
    color: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.plan .plan-name {
    text-align: center;
    text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	background: #202b34;
	padding-top: 55px;
	padding-bottom: 30px;
}

.plan .plan-btn {
    background: #2CC76A;
    color: #fff;
    font-size: 24px;
    text-align: center;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .recommended{
    background-color: #f45c57;
}

.domain-search-container {  
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 400px;
    background: #34454e;
    color: #fff;
    text-align: center;   
    margin-top: 5em; 
}

.btn-search {
    cursor: pointer;
}
#search-item h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

#search-item p {
    font-size: 2rem;
    margin-bottom: 10px;
}

#search-item input {
    width: 60%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
#search-item button {
    width: 30%;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    background: #2CC76A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#search-item button:hover {
    box-shadow: 0 0 1.5em #16B675;
}

.contact-container {
	text-align: center;
	padding-top: 5em;
	padding-bottom: 2em;
}

.contact-container h2 {
	font-size: 36px;
}

.contact-container p {
	font-size: 20px;
	margin-bottom: 40px;
}

.contact-container input, .contact-container textarea {
	width: 200px;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #CCC;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.contact-container textarea {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 468px;
	height: 150px;
}

.contact-container input[type=submit] {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: #2cc76a;
	color: #FFF;
}

footer {
    text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}





